In [5]:
import pandas as pd

In [6]:
ratings_df = pd.read_csv('ratings.csv', encoding='unicode_escape', sep=';')

In [7]:
# Load the books.csv file with low_memory=False and dtype specification
books_df = pd.read_csv('books.csv', delimiter=';', encoding='unicode_escape', on_bad_lines='skip', low_memory=False)

# Check if there are any non-numeric values in 'Year-Of-Publication'
print(books_df['Year-Of-Publication'].unique())

['2002' '2001' '1991' '1999' '2000' '1993' '1996' '1988' '2004' '1998'
 '1994' '2003' '1997' '1983' '1979' '1995' '1982' '1985' '1992' '1986'
 '1978' '1980' '1952' '1987' '1990' '1981' '1989' '1984' '0' '1968' '1961'
 '1958' '1974' '1976' '1971' '1977' '1975' '1965' '1941' '1970' '1962'
 '1973' '1972' '1960' '1966' '1920' '1956' '1959' '1953' '1951' '1942'
 '1963' '1964' '1969' '1954' '1950' '1967' '2005' '1957' '1940' '1937'
 '1955' '1946' '1936' '1930' '2011' '1925' '1948' '1943' '1947' '1945'
 '1923' '2020' '1939' '1926' '1938' '2030' '1911' '1904' '1949' '1932'
 '1928' '1929' '1927' '1931' '1914' '2050' '1934' '1910' '1933' '1902'
 '1924' '1921' '1900' 'Canterbury Press' '2038' '2026' '1944' '1917'
 '1901' '2010' '1908' '1906' '1935' '1806' '2021' '2012' '2006'
 'DK Publishing Inc' 'Gallimard' '1909' '2008' '1378' '1919' '1922' '1897'
 '2024' '1376' '2037']

In [8]:
users_df = pd.read_csv('users.csv',encoding='unicode_escape',sep=';')

In [9]:
print(ratings_df.head())
print(users_df.head())
print(books_df.head())

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

In [10]:
# Rename columns to be consistent
ratings_df.rename(columns={'User-ID': 'user_id', 'ISBN': 'book_id', 'Book-Rating': 'rating'}, inplace=True)
users_df.rename(columns={'User-ID': 'user_id'}, inplace=True)
books_df.rename(columns={'ISBN': 'book_id'}, inplace=True)

In [11]:
ratings_df.shape

(1149780, 3)

In [12]:
users_df.shape

(278858, 3)

In [13]:
books_df.shape

(271360, 8)

In [14]:
ratings_df.info()
books_df.info()
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1149780 non-null  int64
 1   book_id  1149780 non-null  object
 2   rating   1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   book_id              271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271356 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [15]:
ratings_df.columns

Index(['user_id', 'book_id', 'rating'], dtype='object')

In [16]:
users_df.columns

Index(['user_id', 'Location', 'Age'], dtype='object')

In [17]:
# Clean column names by removing quotes and semicolons
books_df.columns = books_df.columns.str.replace(';', '').str.replace('"', '').str.strip()

# Check cleaned column names
print(books_df.columns)

Index(['book_id', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [18]:
# Now rename the 'ISBN' column to 'book_id'
books_df.rename(columns={'ISBN': 'book_id'}, inplace=True)

# Verify if the renaming has taken place
print(books_df.columns)

Index(['book_id', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [19]:
pd.isnull(ratings_df).sum()

user_id    0
book_id    0
rating     0
dtype: int64

In [20]:
pd.isnull(books_df).sum()

book_id                0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            4
dtype: int64

In [21]:
pd.isnull(users_df).sum()

user_id          0
Location         0
Age         110762
dtype: int64

In [22]:
ratings_df.dropna(inplace=True)
users_df.dropna(inplace=True)
books_df.dropna(inplace=True)

In [23]:
# Merge ratings with users and books
ratings_with_users = pd.merge(ratings_df, users_df, on='user_id')
ratings_complete_info = pd.merge(ratings_with_users, books_df, on='book_id')

In [24]:

print(ratings_df.head())
print(users_df.head())
print(books_df.head())

   user_id     book_id  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6
    user_id                        Location   Age
1         2       stockton, california, usa  18.0
3         4       porto, v.n.gaia, portugal  17.0
5         6   santa monica, california, usa  61.0
9        10      albacete, wisconsin, spain  26.0
10       11  melbourne, victoria, australia  14.0
      book_id                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

In [25]:

ratings_df.columns = ratings_df.columns.str.strip()
users_df.columns = users_df.columns.str.strip()
books_df.columns = books_df.columns.str.strip()

In [26]:
print(ratings_complete_info.head())
print(ratings_complete_info.info())
print(ratings_complete_info.describe())

   user_id     book_id  rating                       Location   Age  \
0   276727  0446520802       0  h, new south wales, australia  16.0
1      638  0446520802       0     san diego, california, usa  20.0
2     3363  0446520802       0      knoxville, tennessee, usa  29.0
3     7158  0446520802      10           omaha, nebraska, usa  30.0
4     8253  0446520802      10           tulsa, oklahoma, usa  26.0

     Book-Title      Book-Author Year-Of-Publication     Publisher  \
0  The Notebook  Nicholas Sparks                1996  Warner Books
1  The Notebook  Nicholas Sparks                1996  Warner Books
2  The Notebook  Nicholas Sparks                1996  Warner Books
3  The Notebook  Nicholas Sparks                1996  Warner Books
4  The Notebook  Nicholas Sparks                1996  Warner Books

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0446520802.0...
1  http://images.amazon.com/images/P/0446520802.0...
2  http://images.amazon.com/images/P/0446520802.0...
3  http://images.amazon.com/images/P/0446520802.0...
4  http://images.amazon.com/images/P/0446520802.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0446520802.0...
1  http://images.amazon.com/images/P/0446520802.0...
2  http://images.amazon.com/images/P/0446520802.0...
3  http://images.amazon.com/images/P/0446520802.0...
4  http://images.amazon.com/images/P/0446520802.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0446520802.0...
1  http://images.amazon.com/images/P/0446520802.0...
2  http://images.amazon.com/images/P/0446520802.0...
3  http://images.amazon.com/images/P/0446520802.0...
4  http://images.amazon.com/images/P/0446520802.0...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753294 entries, 0 to 753293
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              753294 non-null  int64
 1   book_id              753294 non-null  object
 2   rating               753294 non-null  int64
 3   Location             753294 non-null  object
 4   Age                  753294 non-null  float64
 5   Book-Title           753294 non-null  object
 6   Book-Author          753294 non-null  object
 7   Year-Of-Publication  753294 non-null  object
 8   Publisher            753294 non-null  object
 9   Image-URL-S          753294 non-null  object
 10  Image-URL-M          753294 non-null  object
 11  Image-URL-L          753294 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 69.0+ MB
None
             user_id         rating            Age
count  753294.000000  753294.000000  753294.000000
mean   141231.241019       2.768878      37.397669
std     78828.625800       3.864221      14.098272
min         2.000000       0.000000       0.000000
25%     74453.000000       0.000000      28.000000
50%    141493.000000       0.000000      35.000000
75%    209156.000000       7.000000      45.000000
max    278852.000000      10.000000     244.000000

In [27]:
num_users = ratings_complete_info['user_id'].nunique()
num_books = ratings_complete_info['book_id'].nunique()

print(f"Unique users: {num_users}, Unique books: {num_books}")

Unique users: 53887, Unique books: 228994

In [28]:
print(ratings_complete_info.dtypes)

user_id                  int64
book_id                 object
rating                   int64
Location                object
Age                    float64
Book-Title              object
Book-Author             object
Year-Of-Publication     object
Publisher               object
Image-URL-S             object
Image-URL-M             object
Image-URL-L             object
dtype: object

In [29]:
# Keep only users and books with at least 5 ratings
filtered_ratings = ratings_complete_info.groupby('user_id').filter(lambda x: len(x) >= 5)
filtered_ratings = filtered_ratings.groupby('book_id').filter(lambda x: len(x) >= 5)

try:
    ratings_matrix = filtered_ratings.pivot_table(index='user_id', columns='book_id', values='rating')
    ratings_matrix = ratings_matrix.fillna(0)
    print(ratings_matrix)
except Exception as e:
    print("An error occurred:", e)

book_id  0002005018  0002251760  0002255081  0002257203  0002550563  \
user_id
44              0.0         0.0         0.0         0.0         0.0
99              0.0         0.0         0.0         0.0         0.0
114             0.0         0.0         0.0         0.0         0.0
165             0.0         0.0         0.0         0.0         0.0
176             0.0         0.0         0.0         0.0         0.0
...             ...         ...         ...         ...         ...
278723          0.0         0.0         0.0         0.0         0.0
278774          0.0         0.0         0.0         0.0         0.0
278838          0.0         0.0         0.0         0.0         0.0
278843          0.0         0.0         0.0         0.0         0.0
278851          0.0         0.0         0.0         0.0         0.0

book_id  0002557029  0002558122  0003300277  0004701674  0006176909  ...  \
user_id                                                              ...
44              0.0         0.0         0.0         0.0         0.0  ...
99              0.0         0.0         0.0         0.0         0.0  ...
114             0.0         0.0         0.0         0.0         0.0  ...
165             0.0         0.0         0.0         0.0         0.0  ...
176             0.0         0.0         0.0         0.0         0.0  ...
...             ...         ...         ...         ...         ...  ...
278723          0.0         0.0         0.0         0.0         0.0  ...
278774          0.0         0.0         0.0         0.0         0.0  ...
278838          0.0         0.0         0.0         0.0         0.0  ...
278843          0.0         0.0         0.0         0.0         0.0  ...
278851          0.0         0.0         0.0         0.0         0.0  ...

book_id  9681500830  9681500954  9681501225  9722016563  9722111450  \
user_id
44              0.0         0.0         0.0         0.0         0.0
99              0.0         0.0         0.0         0.0         0.0
114             0.0         0.0         0.0         0.0         0.0
165             0.0         0.0         0.0         0.0         0.0
176             0.0         0.0         0.0         0.0         0.0
...             ...         ...         ...         ...         ...
278723          0.0         0.0         0.0         0.0         0.0
278774          0.0         0.0         0.0         0.0         0.0
278838          0.0         0.0         0.0         0.0         0.0
278843          0.0         0.0         0.0         0.0         0.0
278851          0.0         0.0         0.0         0.0         0.0

book_id  9726101794  9871138016  9871138148  9879397274  B00009EF82
user_id
44              0.0         0.0         0.0         0.0         0.0
99              0.0         0.0         0.0         0.0         0.0
114             0.0         0.0         0.0         0.0         0.0
165             0.0         0.0         0.0         0.0         0.0
176             0.0         0.0         0.0         0.0         0.0
...             ...         ...         ...         ...         ...
278723          0.0         0.0         0.0         0.0         0.0
278774          0.0         0.0         0.0         0.0         0.0
278838          0.0         0.0         0.0         0.0         0.0
278843          0.0         0.0         0.0         0.0         0.0
278851          0.0         0.0         0.0         0.0         0.0

[13633 rows x 27944 columns]

In [35]:
books_df.drop(columns=['Year-Of-Publication'], inplace=True)

In [36]:
print(books_df.columns)

Index(['book_id', 'Book-Title', 'Book-Author', 'Publisher', 'Image-URL-S',
       'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [37]:
ratings_df = ratings_df[ratings_df['rating'] != 0]
print(ratings_df.shape)

(433671, 3)

In [38]:
books_df['book_id'] = books_df.groupby('Book-Title').ngroup() + 1

In [40]:
print(books_df[['book_id' , 'Book-Title' , 'Book-Author']].head())

   book_id                                         Book-Title  \
0    36425                                Classical Mythology
1    36262                                       Clara Callan
2    47725                               Decision in Normandy
3    68606  Flu: The Story of the Great Influenza Pandemic...
4   199774                             The Mummies of Urumchi

            Book-Author
0    Mark P. O. Morford
1  Richard Bruce Wright
2          Carlo D'Este
3      Gina Bari Kolata
4       E. J. W. Barber

In [41]:
print(ratings_df.head())

   user_id     book_id  rating
1   276726  0155061224       5
3   276729  052165615X       3
4   276729  0521795028       6
6   276736  3257224281       8
7   276737  0600570967       6

In [46]:
bookRatings_count = ratings_complete_info.groupby('book_id').size()

In [47]:
books_with_enough_ratings = bookRatings_count[bookRatings_count >= 10].index

In [48]:
filtered_ratings = ratings_complete_info[ratings_complete_info['book_id'].isin(books_with_enough_ratings)]

In [49]:
userRatings_count = filtered_ratings.groupby('user_id').size()
users_with_enough_ratings = userRatings_count[userRatings_count >= 10].index
filtered_ratings = filtered_ratings[filtered_ratings['user_id'].isin(users_with_enough_ratings)]

In [50]:
try:
    ratings_matrix = filtered_ratings.pivot_table(index='user_id', columns='book_id', values='rating')
    ratings_matrix = ratings_matrix.fillna(0)
    print(ratings_matrix)
except Exception as e:
    print("An error occurred:", e)

book_id  0002251760  0002255081  0002558122  0006485200  000649840X  \
user_id
254             0.0         0.0         0.0         0.0         0.0
388             0.0         0.0         0.0         0.0         0.0
424             0.0         0.0         0.0         0.0         0.0
503             0.0         0.0         0.0         0.0         0.0
638             0.0         0.0         0.0         0.0         0.0
...             ...         ...         ...         ...         ...
278221          0.0         0.0         0.0         0.0         0.0
278356          0.0         0.0         0.0         0.0         0.0
278390          0.0         0.0         0.0         0.0         0.0
278554          0.0         0.0         0.0         0.0         0.0
278843          0.0         0.0         0.0         0.0         0.0

book_id  0006512062  0006546684  0006547834  0006550576  0006550789  ...  \
user_id                                                              ...
254             0.0         0.0         0.0         0.0         0.0  ...
388             0.0         0.0         0.0         0.0         0.0  ...
424             0.0         0.0         0.0         0.0         0.0  ...
503             0.0         0.0         0.0         0.0         0.0  ...
638             0.0         0.0         0.0         0.0         0.0  ...
...             ...         ...         ...         ...         ...  ...
278221          0.0         0.0         0.0         0.0         0.0  ...
278356          0.0         0.0         0.0         0.0         0.0  ...
278390          0.0         0.0         0.0         0.0         0.0  ...
278554          0.0         0.0         0.0         0.0         0.0  ...
278843          0.0         0.0         0.0         0.0         0.0  ...

book_id  8845247414  884590184X  8845906884  8845915611  8885989403  \
user_id
254             0.0         0.0         0.0         0.0         0.0
388             0.0         0.0         0.0         0.0         0.0
424             0.0         0.0         0.0         0.0         0.0
503             0.0         0.0         0.0         0.0         0.0
638             0.0         0.0         0.0         0.0         0.0
...             ...         ...         ...         ...         ...
278221          0.0         0.0         0.0         0.0         0.0
278356          0.0         0.0         0.0         0.0         0.0
278390          0.0         0.0         0.0         0.0         0.0
278554          0.0         0.0         0.0         0.0         0.0
278843          0.0         0.0         0.0         0.0         0.0

book_id  950491036X  9681336089  9681500830  9726101794  9871138016
user_id
254             0.0         0.0         0.0         0.0         0.0
388             0.0         0.0         0.0         0.0         0.0
424             0.0         0.0         0.0         0.0         0.0
503             0.0         0.0         0.0         0.0         0.0
638             0.0         0.0         0.0         0.0         0.0
...             ...         ...         ...         ...         ...
278221          0.0         0.0         0.0         0.0         0.0
278356          0.0         0.0         0.0         0.0         0.0
278390          0.0         0.0         0.0         0.0         0.0
278554          0.0         0.0         0.0         0.0         0.0
278843          0.0         0.0         0.0         0.0         0.0

[4831 rows x 12211 columns]

In [51]:
print(filtered_ratings[['user_id', 'book_id', 'rating']].head())

   user_id     book_id  rating
1      638  0446520802       0
2     3363  0446520802       0
3     7158  0446520802      10
4     8253  0446520802      10
7    23768  0446520802       6

In [52]:
print(filtered_ratings['rating'].unique())

[ 0 10  6  9  7  8  5  3  4  2  1]